.options {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    color: #625261;

    h2 {
        border-bottom: 1px solid darkgray;
    }

    .color {
        .color_section {
            display: flex;
            justify-content: space-evenly;

            .color_section_colors {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .font {
        .font_section {
            display: block;
            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            color: #444;
            line-height: 1.3;
            padding: 0.6em 1.4em 0.5em 0.8em;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            margin: 20px 0;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
            border-radius: 0.5em;
            appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
                linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            background-position: right 0.7em top 50%, 0 0;
            background-size: 0.65em auto, 100%;

            &:hover {
                border-color: #888;
            }
            &:focus {
                border-color: #aaa;
                box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
                box-shadow: 0 0 0 3px -moz-mac-focusring;
                color: #222;
                outline: none;
            }
        }
    }

    .shapes {
        .shapes_selection {
            display: flex;
            justify-content: space-between;

            input[type='radio'] {
                opacity: 0;
                position: fixed;
                width: 0;
            }

            label {
                width: 120px;
                height: 40px;
                background: #f3f0f1;
                margin-bottom: 25px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                outline: none;
                box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
                color: #625261;
                font-weight: 600;
                font-size: 90%;
                transition: all 0.1s ease-in-out;
            }

            label:hover {
                opacity: 1;
                box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
                color: gray;
            }

            input[type='radio']:checked + label {
                color: beige;
                background-color: #ad9d9d;
            }
        }
    }

    .code {
        width: auto;
    }
}

@media(max-width:600px){
    .color {
        .color_section {
           flex-wrap: wrap;

            .color_section_colors {       
                align-items: start;
            }
        }
    }

    .shapes_selection{
        flex-wrap: wrap; 
    }
}
